<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <div class="field">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, :class => 'form-control', :placeholder => "Nombre" %>
      </div>
      </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :cantidad %><br>
        <%= f.text_field :cantidad, :class => 'form-control', :placeholder => "Cantidad" %>
      </div>
      </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :precio %><br>
        <%= f.text_field :precio, :class => 'form-control', :placeholder => "Precio" %>
      </div>
      </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.collection_select(:type_id, Type.order(:nombre),:id, :nombre , {prompt: "--Selecciona una opción--" }, :class => 'form-control') %>

    <div class="actions">
    <%= f.submit @accion,  class: "btn btn-success"  %>
      <%= link_to 'Regresar', products_path, class: "btn btn-warning" %>

    </div>
<% end %>
</div>
</div>
      </div>
    </div>
  </div>
