<%= form_for(@ventum) do |f| %>
  <% if @ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
      <% @ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">
      <div class="field">
        <%= f.label :client %><br>
        <%= f.collection_select(:clients_id, Client.order(:nombre),:id, :nombre , {prompt: "--Selecciona una opción--" }, :class => 'form-control') %>

      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :fecha %><br>
        <%= f.date_select :fecha, :class => 'form-control'  %>
      </div>
     </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :total_pago %><br>
        <%= f.text_field :total_pago, :class => 'form-control'  %>
      </div>
     </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
