<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">

<%= form_for(@type) do |f| %>
  <% if @type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% @type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :class => 'form-control', :placeholder => "Nombre" %>
  </div>
  </div>
    <div class="form-group">
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, :class => 'form-control', :placeholder => "Descripcion" %>
  </div>
      </div>

  <div class="actions">
    <%= f.submit @accion, class: "btn btn-info" %>
    <%= link_to 'Regresar', types_path, class: "btn btn-warning" %>

  </div>
<% end %>
        </div>
      </div>
    </div>
  </div>

