<div class="container">
  <div class="row">
    <div class="col-md-10">
      <center><h1>Listado de Ventas</h1></center>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>id de venta</th>
      <th>Client</th>
      <th>Fecha</th>
      <th>Totalpago</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
    <% @sales.each do |sale| %>

      <tr>
        <td><%= link_to sale.id, info_sales_path(sale.id) %></td>
        <td><%= sale.client.nombre %></td>
        <td><%= sale.fecha %></td>
        <td><%= sale.totalPago %></td>
        <td><%= link_to 'Mostrar', sale, class: "btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_sale_path(sale), class: "btn btn-warning"  %></td>
        <td><%= link_to 'Eliminar', sale, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>

  <% end %>
  </tbody>
  </table>
</div>
<br>
<%= link_to 'Agregar venta', new_sale_path, class: "btn btn-success"  %>
<br>
<div class="pager">
<li class="previous disabled">
  <%= will_paginate   @sales, renderer: BootstrapPagination::Rails, previous_label: h("Regresar"), :style => 'color:blue', next_label: h("Siguiente"), :style => 'color:blue' %>
</li>
</div>
</div>
</div>
</div>